*{
    padding: 0px;
    margin: 0px;
}
.menubar-sec{
    display: flex;
}
img{
    width:250px;
    height: 300px;
    border: 2px solid brown;
    display: flex;
    
}

.main-sec{
    background-color: aqua;
    height: 60vh;
}

.contant{
    display: flex;
    justify-content: space-around;
}